@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=DynaPuff:wght@400..700&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    color: aliceblue;
    max-width: 1200px;
    margin: 0 auto;
  }

  
 .titulon{
    font-size: 50px;
    font-family: "Limelight", sans-serif;
    text-align: start;
  }


body {
    margin: 30px;
    padding: auto;
    background-image: url(../img/image\ \(1\).jpg);
    background-size: cover;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
  }
  
  header {
    background-color: transparent;
    padding: 20px 40px;
    font-family: "Literata", serif;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 0 22px;
    height: fit-content;
    padding: 0;
  
  }
  
  nav  .links ul li a{
    border: none;
    color: white;
    padding: 12px 25px;
    font-size: 24px;
    transition: 0.3s;
    margin: 0;
  }
  
  nav .links ul li a:hover {
    color: white;
    padding: 10px 20px;
    background: #a550ff;
    border-radius: 20px;
  }
  
  nav .links ul li a.active {
    color: white !important;
    padding: 10px 20px;
    background: #a550ff;
    border-radius: 20px;
  }

  h3{
    font-size: 40px;
    
  }

  p{
    font-size: 25px;
  }

  .texto{
    text-align: start;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px 0;
  }
  


  